<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do</title>
  </head>
  <body>
    <main>
      <div>
        <!--h1 tag: todo list name-->
        <h1>{{ todo_objects.name }}</h1>
        <p>
          <a href="{% url 'todo_list_update' todo_objects.id %}">Edit</a>
        </p>
        <p>
          <a href="{% url 'todo_list_delete' todo_objects.id %}">Delete</a>
        </p>
        <!--h2 tag: tasks-->
        <h2>Tasks</h2>
        <table>
          <th>Task</th>
          <th>Due date</th>
          {% for todo in todo_objects.items.all %}
            <tr>
              <td>
                <a href="{% url 'todo_item_update' todo.id %}">{{ todo.task }}</a>
                <td>{{ todo.due_date }}</td>
              </td>
            {% endfor %}
          </tr>
        </table>
      </div>
    </main>
  </body>
</html>
