<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do</title>
  </head>
  <body>
    <main>
      <div>
        <h1>My Lists</h1>
        <a href="{% url 'todo_list_create' %}">Create a new list</a>
        <a href="{% url 'todo_item_create' %}">Create a new item</a>
        <table>
          <th>Name</th>
          <th>Number of items</th>
          {% for todo in todos %}
            <tr>
              <td>
                <a href="{% url 'todo_list_detail' todo.id %}">{{ todo.name }}</a>
                <td>{{ todo.items.count }}</td>
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </main>
  </body>
</html>
